<!--component html goes here -->
<div>
    <!-- <div>
        <button (click)="setdata()" nz-button>发送数据</button>
    </div>
    <g2-bar [G2Data]="G2Data" [field]="G2Field"></g2-bar>
    <g2-bar [G2Data]="G2Data2" [field]="G2Field1"></g2-bar>
    <g2-charts></g2-charts> -->
    <!-- <self-table></self-table> -->

    <!-- <table border="0" style="font-size:9pt;" width="300px" align="center">
        <thead style="display:table-header-group;font-weight:bold">
            <tr>
                <td colspan="2" align="center" style="font-weight:bold;border:3px solid red">每页都有的表头</td>
            </tr>
        </thead>
        <tbody style="text-align:center">
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr style="page-break-after:always; "><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr style="page-break-after:always; "><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr><td>表格内容</td><td>表格内容</td></tr>
            <tr style="page-break-after:always; "><td>表格内容</td><td>表格内容</td></tr>
        </tbody>
            <tfoot style="display:table-footer-group;font-weight:bold ">
            <tr>
            <td colspan="2 " align="center " style="font-weight:bold;border:3px double blue ">每页都有的表尾</td>
            </tr>
            </tfoot>
        </table> -->
    <app-self-tree></app-self-tree>
    欢迎登陆
    <button (click)="loadComponent()" nz-button appDrag  draggable="true">测试数据</button>

    <div style="height:300px;width:100%;border:1px solid red">



    </div>
    <ng-template ad-host></ng-template>
</div>