<!--component html goes here -->
<div class="loginForm">
    <div class="logo">
        <img src="../../../assets/svg/car.svg" alt="">
        <span>hqlsV2</span>
    </div>
    <form nz-form [formGroup]="userForm" class="login-form">
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-user">
                    <input type="text" nz-input formControlName="userName" placeholder="Username">
                </nz-input-group>
                <nz-form-explain *ngIf="userForm.get('userName').dirty && userForm.get('userName').errors">Please input your username!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group nzPrefixIcon="anticon anticon-lock">
                    <input type="password" [disableControl]="isdisable" nz-input formControlName="password" placeholder="Password">
                </nz-input-group>
                <nz-form-explain *ngIf="userForm.get('password').dirty && userForm.get('password').errors">Please input your Password!</nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button style="width: 100%" (click)="login()"  nz-button class="login-form-button" [nzType]="'primary'">Log in</button>
                <span style="display: inline-block;
                width: 100%;
                text-align: center;
                font-size: 8px;
                color: red">暂未开放注册功能</span>
            </nz-form-control>
        </nz-form-item>
    </form>

</div>